.product-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px;
  text-align: center;
}

.card {
  margin: 50px;
}

.card img {
  width: 300px;
  height: 350px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: aliceblue;
  background-color: rgb(180, 180, 250);
  text-align: center;
  cursor: pointer;
}

.card button:hover {
  opacity: 0.7;
}

.navbar-products {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
  font-size: 25px;
  margin-right: 20px;
  margin-top: 4vh;
  cursor: pointer;
  text-decoration: none;
  text-align: right;
  justify-content: center;
}
