.banner {
  background-size: cover;
  background-position: center;
  height: 80vh;
  background-color: rgb(252, 161, 41);
}

.banner-container {
  text-align: center;
  padding: 15% 0;
}

.banner h1 {
  margin: 0;
  color: aliceblue;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 62px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: aliceblue;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
